.radioFilter {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "label label label"
    "wrap wrap wrap"
    "wrap wrap wrap"
    "wrap wrap wrap"
    "wrap wrap wrap"
    "wrap wrap wrap"
    "wrap wrap wrap";
}

.filterLabel {
  display: inline;
  grid-area: label;
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
  font-family: "Futura Condensed Med";
  margin: 5px 0;
  width: 100%;
  background-color: var(--color4);
  color: var(--color3);
  border: 2px solid var(--color3);
  border-radius: 10px;
  padding: 5px;
}

/* RadioFilter Global style */
.radioWrapper {
  display: grid;
  grid-area: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
}

.radioImg {
  width: 50px;
  height: 50px;
}

/* Input Field Styles */
input[type="radio"] {
  display: none;
}

/* Label Styles */
.radioLabel {
  display: grid;
  justify-self: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Animation/Hover Styles */
.radioLabel:hover > img {
  opacity: 0.5;
  cursor: pointer;
}

.radioLabel:hover > figcaption {
  visibility: visible;
  opacity: 1;
}

.radioLabel:active > img {
  opacity: 0.5;
  box-shadow: 5px 5px 20px var(--color4);
}

.radioLabel:active > figcaption {
  opacity: 1;
  visibility: visible;
}

input[type="radio"]:checked + img {
  opacity: 0.5;
}

.caption {
  display: grid;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color4);
  background-color: var(--color3);
  border: 1px solid var(--color4);
  border-radius: 10px;
  padding: 3px;
  font-size: 1.2rem;
  font-family: "Pokemon_Solid";
  text-align: center;
  text-shadow: 2px 2px var(--color3);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.clearBtn {
  display: inline;
  text-align: center;
  font-size: 1rem;
  font-family: "Futura Condensed Med";
  margin-left: 5px;
  background-color: var(--color3);
  color: var(--color4);
  border: 1px solid var(--color4);
  box-shadow: 0px 0px 0px 2px var(--color3);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
