.pokemon-list {
    grid-area: pokemon-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    background-color: var(--color3);
    border-radius: 10px;
}