.pokemonItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 3px solid var(--color4);
    box-shadow: var(--color6) 4px 4px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    position: relative;
}

.name {
    position: absolute;
    top: 0%;
    border-radius: 10px;
    width: 100%;
    font-size: 1.3rem;
}

.image {
    position: absolute;
    top: 10%;
    height: 150px;
    width: 150px;
}

.stats {
    display: flex;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Futura Condensed Med';
    font-size: 1.3rem;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
}