.grid-container {
    display: grid;
    grid-template-columns: .75fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        "sidebar pokemon-list"
        "sidebar pokemon-list"
        "sidebar pokemon-list"
        "sidebar pokemon-list";
    width: auto;
    content: '';
    clear: both;
    background-color: var(--color4);
}

.float {
    float: left;
}