@font-face {
  font-family: "Futura Condensed Med";
  src: url("./Assets/Fonts/Futura_Condensed_Med.ttf") format("TrueType");
}

@font-face {
  font-family: "Gill Sans EB";
  src: url("./Assets/Fonts/Gill_Sans_EB.ttf") format("TrueType");
}

@font-face {
  font-family: "SanvitoPro LtCapt";
  src: url("./Assets/Fonts/SanvitoPro-LtCapt.otf") format("OpenType");
}

@font-face {
  font-family: "Early Gameboy";
  src: url("./Assets/Fonts/early-gameboy.ttf") format("TrueType");
}

@font-face {
  font-family: "Pokemon Hollow";
  src: url(./Assets/Fonts/Pokemon_Hollow.ttf) format("TrueType");
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(./Assets/Fonts/Pokemon_Solid.ttf) format("TrueType");
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  /* SCSS HSL */
  --color1: hsla(0, 100%, 50%, 1);
  --color2: hsla(0, 100%, 40%, 1);
  --color3: hsla(233, 57%, 51%, 1);
  --color4: hsla(52, 100%, 50%, 1);
  --color5: hsla(52, 66%, 42%, 1);
  --color6: hsla(52, 66%, 42%, 0.25);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
