.dropDown {
    background-color: var(--color4);
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Futura Condensed Med';
}

.sortBtn {
    text-align: center;
    font-size: 1rem;
    font-family: 'Futura Condensed Med';
    margin: 5px 0;
    background-color: var(--color3);
    color: var(--color4);
    border: 2px solid var(--color4);
    border-radius: 10px;
    padding: 3px;
}