.sortMenu {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sortBy sortBy"
    "asc desc";
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.sortLabel {
  display: inline;
  margin-top: 2.5px;
  grid-area: sortBy;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Futura Condensed Med";
  width: 100%;
  background-color: var(--color4);
  color: var(--color3);
  border: 2px solid var(--color3);
  border-radius: 10px;
  padding: 3px;
}

.sortDropDown {
  display: inline;
  grid-area: criteria;
  background-color: var(--color4);
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Futura Condensed Med";
  margin-left: 5px;
  padding: 3px;
  text-align: center;
}

.sortBtn {
  display: grid;
  font-size: 1rem;
  font-family: "Futura Condensed Med";
  background-color: var(--color3);
  color: var(--color4);
  border: 2px solid var(--color4);
  border-radius: 10px;
  padding: 3px;
}

.asc {
  display: grid;
  grid-area: asc;
  align-self: center;
  text-align: center;
}

.desc {
  display: grid;
  grid-area: desc;
  align-self: center;
  text-align: center;
}
